#ttl {

    font-size: 800%;
    text-align: center;
    color: #72b467;
    font-family: "Courier New", Courier;
    text-shadow: 4px 4px gray;

}
#movieImput {
    margin: 0 10% 0 10%;
}
#submitBtn {

    margin-left: 35%;
    margin-top: 2%;
}
#submitBtn:hover {
    background-color: gray; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#infoJmbo {
    margin: 1% 0 0 0;
}
#leftjmbo {
   
padding: 0 0 10% 0;
display: flex;
justify-content: center;
align-items: center;

}
#midjmbo {
    
    padding: 0 0 10% 0;
    color: #4e4e4e;
    font-size: 180%;
    text-align: center;
    
}
#rightjmbo {
    
    padding: 0 0 10% 0;
    
}
#des {
    margin-top: 2%;
    text-align: center;
    
}
#rating {
    text-align: center;
    font-size: 200%;
    color: #4e4e4e;
}
#usr {
    width: 40%;
    margin-left: 30%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#footer {
    margin-left: 40%;
    color: #4e4e4e;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px gray;
    
}

#prevSrch {
    text-align: center;
    text-shadow: 2px 2px gray;
    color: #4e4e4e;
    font-size: 50px;
}


